@use "sass:math";
@import 'src/styles/shared.scss';

.OpenShow{
    .out {
        width: 33px;
        height: 33px;
        border-radius: 16.5px;
        background-color: #F7F8FA;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        box-shadow: $shadow-inside;
        display: flex;

        .in {
            display: block;
            margin: auto auto;
            width:20px;
            height:20px;
            border-radius: 10px;
            background-color: #0047BB;

            &.hidden {
                display: none;
            }
        }
    }

    p {
        color: #878787;
        font-size: 12.5px;
        margin-left: 12px;
    }
}