@use "sass:math";
@import 'src/styles/shared.scss';

.TriggerRiskModal {

    &-card {
        width: 400px;
    }

    &-main {
        padding: 0 15px;

        &-title {
            font-family: $boldFont;
            font-size: 16px;
            margin: 20px auto;
            text-align: center;
            color: #878787
        }

        &-text {
            color: #878787;
            font-size: 16px;
            margin: 0 20px;
        }

        &-select {
            margin: 40px 20px;
            display: flex;

            span {
                display: block;
                text-align: left;
                color: #878787;
                font-size: 14px;
                height: 20px;
                line-height: 20px;
                margin-left: 12px;
            }

            .selectButton {
                width: 18px;
                height: 18px;
                border: 1px solid black;

                svg {
                    width: 15px;
                    height: 13px;
                    display: none;
                }

                &.selected {
                    svg {
                        display: block;
                    }
                }
            }
        }

        .fort-button {
            margin-bottom: 30px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .ModalBorder {
        padding: 0 8px;
    }
    .TriggerRiskModal {
        width: 100%;
        &-card {
            width: 100%;
        }
    }
}