@use "sass:math";
@import 'src/styles/shared.scss';

footer {
    $footerHeight: 66px;
    $iconSize: 28px;
    $iconMargin: math.div($footerHeight - $iconSize, 2);
    $footerWidth: 100%;
    width: $footerWidth;
    height: $footerHeight;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $gray-background-color;

    .footer-left {
        display: flex;
        height: $footerHeight;
        width: 50%;

        &-theme {
            margin: auto 0;
            margin-left: 44px;

            &:hover {
                cursor: pointer;
            }
        }

        &-receive {
            margin: auto 0;
            margin-left: 40px;
            padding: 0 14px;
            height: 44px;
            border-radius: 22px;
            border: 1px solid $gray-line-color;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .footer-right {
        height: $footerHeight;
        width: 50%;
        display: flex;
        justify-content: flex-end;

        svg {
            &:hover {
                &>path:first-child {
                    fill: $main-button-color;
                }
            }
        }

        &-mi {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 40px (-$iconMargin) 0;
        }

        &-disIcon {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 12px (-$iconMargin) 0;

            &:hover {
                &>g>path:first-child {
                    fill: $main-button-color;
                }
            }
        }

        &-github {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 12px (-$iconMargin) 0;
        }

        &-twitter {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 12px (-$iconMargin) 0;
        }

        &-tel {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 12px (-$iconMargin) 0;
        }

        &-paper {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 12px (-$iconMargin) 0;
        }

        &-safe {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 12px (-$iconMargin) 0;
        }
    }
}

.testToken {
    p {
        margin: 0 14px;
        height: 16px;
        line-height: 16px;
        font-size: $T4;
        color: $gray-info-text-color;
    }

    ul {

        li {
            display: flex;
            height: 28px;
            padding: 0 14px;

            svg {
                margin: auto 0;
                margin-right: 10px;
                width: 16px;
                height: 16px;
            }

            p {
                margin: 0;
                line-height: 28px;
                color: black;
            }

            &:hover {
                cursor: pointer;
            }
        }

        li:hover {
            background-color: $gray-line-color;
        }
    }
}

.testToken-dark {
    ul li {
        p {
            color: $main-background-color;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.15);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .MuiTooltip-tooltipPlacementTop {
        background-color: #2c2e32 !important;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
        border: 0px !important;
    }
}