@use "sass:math";
@import 'src/styles/shared.scss';

.NFTOfferView {
    padding: 0 20px;
    padding-bottom: 20px;

    &-choice {
        width: 100%;
        height: 60px;
        border: 1px solid #EEEEEE;
        border-radius: 20px;
        margin-top: 30px;
        padding: 0 35px;

        &-top {
            width: 100%;
            height: 60px;
            display: flex;
        }
    }

    ul.line {
        margin: 0 auto;
        margin-top: 35px;
        width: 1222px;
        min-height: 360px;
        overflow: auto;

        li+li {
            margin-top: 15px;
        }

        li {
            width: 100%;
            height: 360px;

            ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;

                li {
                    margin-top: 0;
                    width: 230px;
                    height: 360px;
                }

                li + li {
                    margin-left: 18px;
                }
            }
        }
    }
}