@use "sass:math";
@import 'src/styles/shared.scss';

.TokenShow {
    display: flex;
    justify-content: flex-start;
    height: 100%;

    p {
        white-space:nowrap;
    }

    svg {
        margin: auto 0;
        z-index: 1;
        width: 28px;
        height: 28px;
    }

    svg + svg {
        margin-left: -8px;
        z-index: 0;
    }

    &-text {
        font-size: $T2;
        margin-left: 10px;
        line-height: 44px;

        &.isBold {
            font-family: $boldFont;
        }
    }
}

@media screen and (max-width: 1000px) {
    .TokenShow {
        svg {
            margin: auto 0;
            z-index: 1;
            width: 20px;
            height: 20px;
        }
    
        svg + svg {
            margin-left: -8px;
            z-index: 0;
        }
    
        &-text {
            font-size: 12.5px;
            margin-left: 5px;
            line-height: 34px;
        }
    }
}