@use "sass:math";
@import 'src/styles/shared.scss';

.swap-card {
    max-width: $baseWidth;
    margin: 0 auto;
    padding: 40px 44px;
    margin-top: 22px;
    margin-bottom: 22px;

    &-trading,
    &-limit {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0 20px;

        p {
            font-family: $boldFont;
        }

        span {
            color: $gray-info-text-color
        }
    }

    &-limit {
        div {
            span {
                padding-bottom: 5px;
                border-bottom: 1px dashed $gray-info-text-color;
            }

            display: flex;

            button {
                display: block;
                height: 25px;
                width: 25px;

                &:hover {
                    cursor: pointer;
                }
            }

            svg {
                path {
                    fill: $main-button-color;
                }
            }
        }

    }

    .max-button {
        margin: 0;
        padding-left: 5px;
        margin-right: -20px;
        padding-right: 20px;
    }

    &-exchange {
        display: block;
        width: 88px;
        height: 88px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 44px;
        box-shadow: $shadow;
        border: 1px solid $gray-background-color;

        &.disable {
            background: $button-disable-color;

            &:hover {
                cursor: not-allowed;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    &-exchange+.infoView {
        margin-top: 20px;
    }

    .fort-button {
        width: 100%;
        margin-top: 40px;
    }

    .infoView-tokenSelect {
        height: 80px;
        margin-bottom: -85px;

        &.three {
            height: 120px;
            margin-bottom: -125px;
        }
    }

    &-selected {
        display: flex;
        justify-content: space-between;

        p {
            svg {
                width: 22px;
                height: 22px;
                margin-top: 11px;
                margin-left: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &-selectToken {
        .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
            width: 482px;
            border-radius: 22px;
            margin-left: -20px;
            margin-top: 10px;
        }

        svg {
            position: relative;
            width: 28px;
            height: 28px;
            z-index: 10;
            margin-right: 10px;
        }

        ul {
            width: 100%;

            li {
                padding: 4px 20px;
                display: flex;
                font-size: 16px;

                p {
                    line-height: 28px;
                }

                &:hover {
                    background-color: #EEEEEE;
                    cursor: pointer;
                }
            }

            li+li {
                margin-top: 5px;
            }
        }
    }

    &-title {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .swap-card {
        margin: 0 8px;
        padding: 25px 15px;

        &-selected {
            p {
                svg {
                    width: 18px;
                    height: 18px;
                    margin-top: 8px;
                    margin-left: 5px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        &-trading {
            font-size: 12.5px;
            padding: 0 15px;
            margin-top: 15px;
        }

        .fort-button {
            margin-top: 22px;
        }

        &-limit {
            font-size: 12.5px;
            padding: 0 15px;
            margin-top: 15px;
            div {
                span {
                    margin-top: 2px;
                    padding-bottom: 3px;
                }

                button {
                    height: 22px;
                    width: 22px;
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            p {
                margin-top: 2px;
            }
        }

        &-selectToken {
            // padding: 0 15px;
            .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
                border-radius: 22px;
                margin-top: 6px;
                max-width: calc(100% - 46px);
                margin-left:-5px;
            }

            svg {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }

            ul {
                li {
                    font-size: 12.5px;
                    padding: 4px 14.5px;
                    p {
                        line-height: 20px;
                    }

                    &:hover {
                        background-color: #EEEEEE;
                    }
                }
            }
        }
    }

    .swap-card+.swap-card {
        margin-top: 10px;
    }
}