@use "sass:math";
@import 'src/styles/shared.scss';

.header-topNotice {
    height: 44px;
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    p {
        width: 100%;
        text-align: center;
        line-height: 44px;
        color: #878787;
        font-size: 12px;
    }

    button {

        width: 58px;
        height: 14px;
        margin: auto 0;

        svg {
            width: 14px;
            height: 14px;
            path {
                fill:#878787;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.header-nav {
    position: relative;
    width: 100%;
    background-color: $main-background-color;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-background-color;

    a {
        margin-top: 6px;
        width: 360px;

        .header-logo {
            position: relative;
            justify-self: flex-start;
            margin-top: 13px;
            margin-left: 40px;

            g {
                path {
                    fill: black;
                }
            }
        }
    }


    ul {
        height: 70px;
        width: 360px;
        list-style: none;
        justify-self: center;
        justify-content: space-between;
        display: flex;
        color: $main-background-color;
        font-size: $T2;

        li {
            text-align: center;
            line-height: 66px;
            width: 120px;
            color: $black-text-color;

            &.selected {
                border-bottom: 2px solid $main-button-color;
                box-sizing: border-box;

                a {
                    color: $main-button-color;
                    font-family: $boldFont;
                    font-weight: bold;
                }
            }
        }
    }

    .connectStatus {
        width: 330px;
        margin-right: 40px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-self: flex-end;
        justify-content: flex-end;
    }
}