:root:not(.theme-dark) {
  --tv-color-platform-background: #FFFFFF;
  --tv-color-pane-background: #FFFFFF;
  --tv-color-pane-background-secondary: #FFFFFF;
  --tv-color-toolbar-button-background-hover: #FFFFFF;
  --tv-color-toolbar-button-background-secondary-hover: #FFFFFF;
  --tv-color-toolbar-button-background-expanded: #FFFFFF;
  --tv-color-toolbar-button-text: rgba(3, 3, 8, 0.6);
  --tv-color-toolbar-button-text-hover: #030308;
  --tv-color-toolbar-button-text-active: #030308;
  --tv-color-toolbar-button-text-active-hover: #030308;
  --tv-color-item-active-text: #030308;
  --tv-color-toolbar-toggle-button-background-active: rgba(3, 3, 8, 0.6);
  --tv-color-toolbar-toggle-button-background-active-hover: #030308;
}

.theme-dark:root {
  --tv-color-platform-background: #171A1F;
  --tv-color-pane-background: #171A1F;
  --tv-color-pane-background-secondary: #171A1F;
  --tv-color-toolbar-button-background-hover: #171A1F;
  --tv-color-toolbar-button-background-secondary-hover: #171A1F;
  --tv-color-toolbar-button-background-expanded: #171A1F;
  --tv-color-toolbar-button-text: rgba(249, 249, 249, 0.6);
  --tv-color-toolbar-button-text-hover: rgba(249, 249, 249, 1);
  --tv-color-toolbar-button-text-active: rgba(249, 249, 249, 1);
  --tv-color-toolbar-button-text-active-hover: rgba(249, 249, 249, 1);
  --tv-color-item-active-text: rgba(249, 249, 249, 1);
  --tv-color-toolbar-toggle-button-background-active: rgba(249, 249, 249, 1);
  --tv-color-toolbar-toggle-button-background-active-hover: rgba(249, 249, 249, 1);
}

html.theme-dark .chart-page {
  background-color: #171A1F;
  font-family: "Open Sans", sans-serif;
}

html.theme-dark .chart-page .chart-container {
  background-color: #171A1F;
}

html.theme-light .chart-page {
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
}

html.theme-light .chart-page .chart-container {
  background-color: #FFFFFF;
}