@use "sass:math";
@import 'src/styles/shared.scss';

.connectStatus {
    display: flex;
    justify-content: space-between;

    .fort-button {
        font-size: $T3;
        white-space: nowrap;
        p {
            margin: auto 0;
        }

        .transactionNum {
            display: none;
        }

        &.showNum {
            display: flex;
            justify-content: space-between;

            .transactionNum {
                display: flex;
                justify-content: space-between;
                margin: auto 0;
                margin-right: 5px;
                width: 22px;
                height: 22px;

                svg {
                    width: 22px;
                    height: 22px;
                }

                p {
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    line-height: 22px;
                    font-size: 10px;
                }
            }
        }
    }

    .dashboard {
        display: flex;
        justify-content: center;
        padding: 0 16px;
        border: 1px solid #EEEEEE;
        border-radius: 22px;
        margin: 0 16px 0 0;
        align-items: center;
        height: 44px;

        p {
            color: #0047BB;
            font-weight: 600;
            font-size: $T3;
        }
    }
}



.main-dark {
    .connectStatus {
        .dashboard {
            display: flex;
            justify-content: center;
            padding: 0 16px;
            border: 1px solid transparent;
            border-radius: 22px;
            margin: 0 16px 0 0;
            align-items: center;
            height: 44px;
            background: rgba(255, 255, 255, 0.15);

            p {
                color: white;
                font-weight: 600;
                font-size: $T3;
            }
        }
    }
}