@use "sass:math";
@import 'src/styles/shared.scss';

.perpetuals-base {
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 44px;
    display: flex;
    justify-content: space-between;
    width: 1276px;
}

.perpetuals-right {
    width: 682px;
    padding: 44px 44px;

    &-title {
        padding-left: 20px;
        color: #878787;
    }

    &-buttonDiv {
        width: 390px;
        margin: 0 auto;
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
        button.kType {
            width: 66px;
            height: 34px;
            border-radius: 17px;
            box-shadow: $shadow-inside;
            text-align: center;
            line-height: 34px;
            font-size: 20px;
            color: black;

            &.selected {
                color: $main-button-color;
                border: 2px solid $main-button-color;
                font-family: $boldFont;

                &:hover {
                    border: 2px solid $main-button-color;
                }
            }

            &:hover {
                border: 1px solid $gray-line-color;
                cursor: pointer;
            }
        }
    }

    &-stock {
        width: 569px;
        height: 100%;
    }
}

.perpetuals-positions {
    width: 1276px;
    margin: 0 auto;
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 600;
    color: #878787;
}

.perpetuals-card {
    width: 572px;
    padding: 40px 44px;

    .infoView-topRight {
        font-size: 13px;
        line-height: 20px;
    }

    &-tokenPair {
        display: flex;
        justify-content: space-between;

        button {
            margin-left: 10px;
        }

        div+svg {
            margin: auto auto;
            margin-left: 10px;

            circle {
                stroke: $gray-background-text-color;
            }

            path {
                fill: $gray-background-text-color;
            }
        }
    }

    &-tokenPair+p {
        line-height: 44px;
        font-size: $T2;
        color: $main-button-color;
    }

    .leverChoose {
        margin-top: 20px;
    }

    .leverChoose+.infoView {
        margin-top: 30px;
    }

    &-info {
        padding: 0 20px;

        div {
            display: flex;
            justify-content: space-between;
            color: $gray-info-text-color;
        }

        p.title {
            font-size: 17px;
            font-weight: 600;
        }

        p {
            line-height: 30px;
        }

        p+p {
            font-size: 13px;
            font-weight: 500;
        }
    }

    &-button {
        width: 100%;
        margin-top: 30px;
    }
}

.ant-tooltip-inner {
    color: #7D7D7D;
}

table {
    width: 1276px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 20px;

    .perpetuals-table-title {
        color: $gray-info-text-color;
        font-size: $T2;
        height: 60px;
        border-radius: 12px;
        box-shadow: $shadow;
    }

    .perpetuals-table-normal {
        color: $gray-info-text-color;
        font-size: $T2;
        height: 60px;
        border-radius: 12px;
        box-shadow: $shadow;
        text-align: center;
        font-size: $T2;
        font-family: $boldFont;
        color: $black-text-color;

        svg {
            margin-top: 3px;
        }

        .fort-button {
            height: 28px;
            width: 90px;
            padding: 0;
        }

        .tokenPair {
            svg {
                z-index: 1;

            }

            svg+svg {
                margin-left: -8px;
                z-index: 0;
            }
        }
    }

    td.button {
        width: 250px;

        button+button {
            margin-left: 10px;
        }
    }

    td.td-type {
        display: flex;
        justify-content: center;

        svg {
            margin: auto 0;
        }

        p.red {
            margin-left: 5px;
            line-height: 60px;
            color: $up-color;
        }

        p.green {
            margin-left: 5px;
            line-height: 60px;
            color: $down-color;
        }
    }

    td.exerciseTime {
        &>.p:first-child {
            font-size: 16px;
        }

        p+p {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .perpetuals-base {
        width: 100%;
        display: block;
        padding: 0 10px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .perpetuals-card {
        width: 100%;
        padding: 20px 20px;
    }
    .perpetuals-right {
        width: 100%;
        padding: 20px 20px;
        margin-top: 10px;
        &-buttonDiv {
            width: 100%;
        }
        &-stock {
            width: 100%;
        }
    }
    .perpetuals-positions {
        width: 100%;
        padding: 0 30px;
    }

    .leverChoose {
        margin-left: 0px;
        margin-right: 0px;

        &-title {
            margin-left: 20px;
            margin-right: 20px;
        }

        &-choose li {
            width: 52px;
            height: 32px;
            line-height: 32px;
        }
    }
    table {
        width: 100%;
    }
}