@use "sass:math";
@import 'src/styles/shared.scss';

.positionsList {
    width: 100%;
    padding: 25px 30px;
    background-color: #FDFDFD;
    border: 1px solid #EEEEEE;
    border-radius: 14px;

    &-one,
    &-two {
        border-bottom: 1px solid #DCDCDC;
    }

    &-one,
    &-two,
    &-three {
        p.title {
            color: #878787;
            font-size: 12.5px;
            font-family: $boldFont;
        }

        p.value {
            color: black;
            font-size: 12.5px;
            font-family: $boldFont;
            margin: 11.5px 0;
            height: 20px;
        }

        .right {
            p {
                text-align: right;
            }
        }
    }

    &-two,
    &-three {
        margin-top: 14px;
    }

    .pairIcon {
        margin: 11.5px 0;

        svg {
            position: relative;
            width: 20px;
            height: 20px;
            z-index: 10;
            margin-right: -7px;
        }

        svg.USDT {
            position: relative;
            z-index: 1;
        }
    }

    .longShort {
        height: 20px;
        color: #DD8751;
        font-size: 12.5px;
        margin: 11.5px 0;
        display: flex;
        font-family: $boldFont;

        svg {
            width: 17px;
            height: 9.5px;
            margin: auto 0;
            margin-right: 3px;
        }

        p {
            &.green {
                color: $down-color;
            }
        }
    }

    &-button {
        button {
            width: 100%;
            height: 34px;
            border-radius: 17px;
            font-size: 12.5px;
            padding: 0;
        }

        button.endOrder {
            width: auto;
            display: flex;
            height: 34px;
            padding: 0 21px;
            margin: 0 auto;
            border: 1px solid #0047BB;
            border-radius: 17px;
            line-height: 34px;
            font-size: 12.5px;
            color:#878787;
            font-family: $boldFont;

            p {
                margin-right: 20px;
            }

            svg {
                width: 17px;
                height: 17px;
                margin-top: 7px;
                path {
                    fill: #878787;
                }
            }
        }
    }

    &-drawer {
        .MuiPaper-root {
            margin: 0 8px;
            margin-bottom: 8px;
            background-color: #FDFDFD;
            border-radius: 14px;
            border: 1px solid #EEEEEE;
            padding: 30px 15px;

            p.title {
                width: 100%;
                font-size: 12.5px;
                text-align: center;
                color: #878787;
            }

            .infoView {
                margin-top: 22.5px;
                width: 100%;

                &-top {
                    p {
                        margin: 0 15px;
                    }
                }

                &-topLeft,
                &-topRight {
                    font-size: 12.5px;
                }

                &-mainView {
                    margin-top: 11.5px;
                    margin-bottom: 10px;
                    padding: 0 15px;
                    height: 34px;
                    border-radius: 17px;

                    .TokenShow {
                        &-text {
                            font-size: 12.5px;
                        }

                        svg {
                            width: 19.5px;
                            height: 19.5px;
                        }
                    }

                    .input-middle {
                        font-size: 12.5px;

                        &::placeholder {
                            font-size: 12.5px;
                        }
                    }

                    .max-button {
                        font-size: 12.5px;
                    }
                }

                &-bottom {
                    height: 0px;
                }
            }

            button.action {
                height: 34px;
                border-radius: 17px;
                font-size: 12.5px;
                margin-top: 30px;
            }
        }
    }

    &-limitPrice {
        width: 100%;
        height: 34px;
        border-radius: 17px;
        background-color: #F7F8FA;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        box-shadow: $shadow-inside;
        padding: 0 15px;
        margin-top: 15px;

        &-title {
            font-size: 12.5px;
            color: black;
            font-family: $boldFont;
        }

        .rightInput {
            input {
                width: 100%;
                font-family: $boldFont;
                border: 0;
                text-align: right;
                margin-right: 5px;

                &::placeholder {
                    font-size: 12.5px;
                }
            }

            p {
                font-size: 12.5px;
                color: black;
                font-family: $boldFont;
            }
        }
    }

    &-stopLimit1{
        width: 100%;
        height: 34px;
        border-radius: 17px;
        background-color: #F7F8FA;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        box-shadow: $shadow-inside;
        padding: 0 15px;
        margin-top: 15px;

        &-title {
            font-size: 12.5px;
            color: black;
            font-family: $boldFont;
        }

        .rightInput {
            input {
                width: 100%;
                font-family: $boldFont;
                border: 0;
                text-align: right;
                margin-right: 5px;

                &::placeholder {
                    font-size: 12.5px;
                }
            }

            p {
                font-size: 12.5px;
                color: black;
                font-family: $boldFont;
            }
        }
    }

    &-infoShow {
        width: 100%;
        font-size: 12.5px;
        color: #878787;
        padding: 0 15px;
        margin-top: 10px;

        p {
            font-family: $boldFont;
        }

        p.underLine {
            border-bottom: 1px dashed #7D7D7D;
        }

        p+p {
            font-family: Montserrat;
        }
    }

    &-drawer-dark {
        .MuiPaper-root {
            background: rgba(255, 255, 255, 0.15);
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            border: 0px;
            -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);

            p.title {
                color: white;
            }

            button.action {
                background: linear-gradient(90deg, #8BB7FF 0%, #0061FF 100%);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                &.disable {
                    background: #BFBFBF;
                }
            }

            .infoView {
                &-top {
                    p {
                        color: #C5C5C5;
                    }
                }

                &-mainView {
                    background: rgba(255, 255, 255, 0.15);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border: 0;

                    &:hover {
                        border: 1px solid #8BB7FF;
                    }

                    .TokenShow {
                        p {
                            color: white;
                        }
                    }

                    input {
                        color: white;
                    }

                    .max-button {
                        color: #BDD6FF;
                    }
                }
            }

            .positionsList {

                &-limitPrice,
                &-stopLimit1{
                    background: rgba(255, 255, 255, 0.15);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border: 0;

                    &:hover {
                        border: 1px solid #8BB7FF;
                    }

                    p {
                        color: white;
                    }

                    input {
                        color: white;
                    }
                }

                &-infoShow {
                    color: #C5C5C5;

                    p.underLine {
                        border-bottom: 1px dashed #C5C5C5;
                    }
                }
            }
        }
    }
}

.main-dark {
    .positionsList {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(12px);
        border: 0;

        &-one,
        &-two {
            border-bottom: 1px solid rgba(197, 197, 197, 0.15);
        }

        &-one,
        &-two,
        &-three {
            p.title {
                color: #C5C5C5;
            }

            p.value {
                color: white;
            }
        }

        &-button {
            button.endOrder {
                color: #C5C5C5;
                border: 1px solid #8BB7FF;

                svg {
                    path {
                        fill: #C5C5C5;
                    }
                }
            }
        }
    }
}