@use "sass:math";
@import 'src/styles/shared.scss';

.winV2 {
    margin: 0 auto;
    margin-bottom: 44px;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

@media screen and (max-width: 1000px) {
    .winV2 {
        max-width: 100%;
        display:block;
        padding: 0 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}