@use "sass:math";
@import 'src/styles/shared.scss';

.NFTItem,
.NFTAuctionItem {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &-image {
        height: 66%;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &-info {
        width: 100%;
        height: 34%;
        border: 1px solid #EEEEEE;
        border-top: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top: 19px;

        &-base {
            display: flex;
            justify-content: space-between;
            margin-left: 13px;
            margin-right: 13px;
            p {
                font-size: 15px;
                color: #000000;
            }
        }

        &-price {
            display: flex;
            margin-left: 13px;
            margin-right: 13px;
            
            svg {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }
}

.NFTAuctionItem {
    &-image {
        height: 60%;
    }
    &-info {
        height: 40%;
        &-price {
            margin-top: 15px;
        }
        &-time {
            width: 230px;
            height: 40px;
            background: #EEEEEE;
            border-radius: 20px;
            margin-top: 20px;
            line-height: 40px;
            text-align: center;
            color: #E60012;
            font-size: 15px;
        }
    }
}