@use "sass:math";
@import 'src/styles/shared.scss';

@mixin normal-text {
    color: $gray-info-text-color;
    font-size: $T2;
}

.options-mintOptions {
    margin: 0 auto;
    margin-bottom: 44px;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    max-width: 1200px;

    .mainCard {
        width: $baseWidth;
        padding: 40px 44px;
    }

    &-leftCard {

        margin-right: 22px;

        .infoView+.infoView,
        .chooseType+.infoView {
            margin-top: 20px;
        }

        &-tokenPair {
            display: flex;
            justify-content: space-between;

            div+svg {
                margin: auto auto;
                margin-left: 10px;

                circle {
                    stroke: $gray-background-text-color;
                }

                path {
                    fill: $gray-background-text-color;
                }
            }
        }

        &-tokenPair+p {
            line-height: 44px;
            font-size: $T2;
            color: $main-button-color;
        }

        &.infoView:nth-child(5) {
            .TokenShow {
                svg {
                    z-index: auto;
                }
            }
        }
    }

    &-rightCard {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        svg {
            margin: 0 auto;
        }

        svg {
            margin: 0 auto;
        }

        &-tokenTitle {
            @include normal-text;

            span {
                padding-bottom: 5px;
                border-bottom: 1px dashed $gray-info-text-color;
            }
        }

        &-tokenValue {
            font-family: HeptaSlabMedium;
            font-size: 48px;
            color: $main-button-color;
        }

        &-timeTitle {
            @include normal-text;
        }

        &-timeValue {
            margin-top: 1px;
            @include normal-text;
        }

        &-smallCard {
            display: flex;
            justify-content: space-between;

            .mainCard {
                margin-right: 44px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 44px 0;
            }

            .mainCard+.mainCard {
                margin-right: 0;
            }

            &-title {
                p+p {
                    margin-top: 5px;
                }

                p {
                    color: $gray-info-text-color;
                    font-size: $T3;
                }
            }

            &-value {
                font-family: $boldFont;
                font-size: $T2;
                margin: 15px 0;
            }

            &-name {
                color: $gray-info-text-color;
                font-size: $T3;
            }
        }

        .fort-button {
            font-size: $T2;
        }
    }

    .ant-picker {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .ant-picker-suffix {
        justify-self: end;
        line-height: 0;

        &>svg {
            margin: auto 0;
        }
    }
}

table {
    width: 1340px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 20px;

    .options-mintOptions-table-title {
        color: $gray-info-text-color;
        font-size: $T2;
        height: 44px;
        border-radius: 12px;
        box-shadow: $shadow;
    }

    .options-mintOptions-table-normal {
        color: $gray-info-text-color;
        font-size: $T2;
        height: 44px;
        border-radius: 12px;
        box-shadow: $shadow;
        text-align: center;
        font-size: $T2;
        font-family: $boldFont;
        color: $black-text-color;

        svg {
            margin-top: 3px;
        }

        .fort-button {
            height: 28px;
            width: 90px;
            padding: 0;
        }

        .tokenPair {
            svg {
                z-index: 1;
            }

            svg+svg {
                margin-left: -8px;
                z-index: 0;
            }
        }
    }

    td.td-type {
        display: flex;
        justify-content: center;

        svg {
            margin: auto 0;
        }

        p.red {
            margin-left: 5px;
            line-height: 44px;
            color: $up-color;
        }

        p.green {
            margin-left: 5px;
            line-height: 44px;
            color: $down-color;
        }
    }

    td.buttonGroup {

        div {
            height: 28px;
            display: flex;
            justify-content: center;

            .fort-button+.fort-button {
                margin-left: 10px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .options-mintOptions {
        flex-flow: column;
        padding: 0 8px;
        margin-top: 0px;

        .mainCard {
            width: 100%;
            padding: 40px 20px;
        }

        .options-mintOptions-leftCard {
            margin-right: 0px;
            margin-bottom: 10px;
            padding: 25px 15px;

            &-tokenPair {
                .TokenShow {
                    .TokenShow-text {
                        display: none;
                    }
                }

                div+svg {
                    width: 18px;
                    height: 18px;
                    margin-top: 8px;
                    margin-left: 5px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            &-tokenPair+p {
                font-size: 12.5px;
                line-height: 34px;
            }

            .infoView+.infoView,
            .chooseType+.infoView {
                margin-top: 15px;
            }
        }

        .options-mintOptions-rightCard {
            padding: 25px 15px;

            &-tokenTitle{
                font-size: 12.5px;
            }
            &-tokenValue {
                margin: 15px auto;
                font-size: 12.5px;
            }

            &-timeTitle{
                margin-top: 15px;
                font-size: 12.5px;
            }

            &-timeValue {
                margin: 15px auto;
                font-size: 12.5px;
            }

            &-smallCard {
                .mainCard {
                    padding: 15px 15px;
                    margin-right: 20px;
                    p {
                        font-size: 12.5px;
                    }
                }

                .mainCard+.mainCard {
                    margin-right: 0px;
                }
            }
        }

        .ant-picker {
            .ant-picker-input {
                input {
                    font-size: 12.5px;

                    &::placeholder {
                        font-size: 12.5px;
                    }
                }
            }
        }

        .ant-picker-suffix {
            &>svg {
                margin: auto 0;
                width: 18px;
                height: 18px;
            }
        }
    }

    .OptionsList-mobile {
        margin-top: 20px;
        padding: 0 8px;
    }

    .options-mintOptions+div>ul {
        margin-bottom: 20px;
    }
}