@use "sass:math";
@import 'src/styles/shared.scss';

.NFTLeverIcon {
    width: 15px;
    height: 30px;
    &.lever1 {
        g {
            .cls-1 {
                fill: rgb(52, 220, 254)
            }
        }
    }
    &.lever2 {
        g {
            .cls-1 {
                fill: rgb(243, 9, 7)
            }
        }
    }
    &.lever3 {
        g {
            .cls-1 {
                fill: rgb(246, 210, 47)
            }
        }
    }
    &.lever4 {
        g {
            .cls-1 {
                fill: rgb(0, 0, 0)
            }
        }
    }
}