@use "sass:math";
@import 'src/styles/shared.scss';

.NFTLeverIcon {
    width: 15px;
    height: 30px;

    g {
        .cls-1 {
            fill: white;
        }
    }

    &.lever1 {
        g {
            .cls-1 {
                fill: black;
            }
        }
    }

    &.lever2 {
        g {
            .cls-1 {
                fill: yellow;
            }
        }
    }

    &.lever3 {
        g {
            .cls-1 {
                fill: red;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .NFTLeverIcon {
        width: 12px;
        height: 24px;
    }
}