@use "sass:math";
@import 'src/styles/shared.scss';

.dashboard {
  margin-top: 22px;

  &-card {
    width: 100%;
  }

  &-label {
    color: #878787;
    font-size: 17px;
    font-weight: 600;
  }

  &-value {
    font-size: 25px;
    font-weight: 600;
  }

  &-caption {
    font-size: 13px;
    font-weight: 500;
    color: #878787;
  }

  &-leftButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.outline {
      background-color: transparent;
      border: 1px solid #EEEEEE;
      color: #878787;
    }
  }

  &-button {
    width: 100%;
    border-radius: 22px;
  }

  &-button-more {
    width: 160px;
    border: 1px solid #0047BB;
    border-radius: 22px;
    height: 44px;
    color: #0047BB;
    font-weight: bold;
    cursor: pointer;
  }

  &-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 20px;

    .Futures-table-title {
      color: $gray-info-text-color;
      font-size: $T2;
      height: 44px;
      border-radius: 12px;
      box-shadow: $shadow;
    }

    .Futures-table-normal {
      color: $gray-info-text-color;
      font-size: $T2;
      height: 44px;
      border-radius: 12px;
      box-shadow: $shadow;
      text-align: center;
      font-family: $boldFont;

      svg {
        margin-top: 3px;
      }

      .fort-button {
        height: 28px;
        width: 90px;
        padding: 0;
      }

      .tokenPair {
        svg {
          position: relative;
          z-index: 1;
        }

        svg + svg {
          margin-left: -8px;
          z-index: 0;
        }
      }
    }

    th {
      span {
        border-bottom: 1px dashed #7D7D7D;
        padding-bottom: 3px;
      }
    }

    td.button {
      width: 350px;

      button + button {
        margin-left: 10px;
      }

      button.listCloseButton {
        svg {
          width: 17px;
          height: 17px;
        }
      }

      button.endOrder {
        height: 28px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        line-height: 28px;
        font-size: 12px;
        font-family: $boldFont;
        color: #878787;
        border: 1px solid #0047BB;
        border-radius: 14px;
        padding: 0 20px;

        &:hover {
          cursor: pointer;
        }

        p {
          margin-right: 15px;
        }

        svg {
          width: 17px;
          height: 17px;
          margin-top: 4.5px;

          path {
            fill: #878787;
          }
        }
      }
    }

    td.td-type {
      display: flex;
      justify-content: center;

      svg {
        margin: auto 0;
      }

      p.red {
        margin-left: 5px;
        line-height: 44px;
        color: $up-color;
      }

      p.green {
        margin-left: 5px;
        line-height: 44px;
        color: $down-color;
      }
    }
  }

  &-rightButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.outline {
      background-color: white;
      border: 1px solid #EEEEEE;
      color: #878787;
    }
  }

  @media (max-width: 768px) {
    margin-top: 22px;

    &-button-more {
      width: 160px;
      border: 1px solid #0047BB;
      border-radius: 22px;
      height: 34px;
      color: #0047BB;
      font-weight: bold;
    }

    &-card {
      width: 100%;
    }

    &-label {
      color: #878787;
      font-size: 12.5px;
      font-weight: 600;
    }

    &-value {
      font-size: 24px;
      font-weight: 600;
    }

    &-caption {
      font-size: 13px;
      font-weight: 500;
      color: #878787;
    }

    &-leftButton {
      font-weight: 700;
      font-size: 14px;
      background: transparent;
      border: none;

      &.outline {
        font-weight: 500;
        background: transparent;
        border: none;
      }
    }

    &-rightButton {
      font-weight: 700;
      font-size: 14px;
      background: transparent;
      border: none;

      &.outline {
        background: transparent;
        border: none;
        font-weight: 500;
      }
    }

    &-orderCard {
      position: relative;
      padding: 30px;

      &-title {
        color: #C5C5C5;
        font-size: 12.5px;
        font-weight: 500;
      }

      &-value {
        //color: #FFFFFF;
        font-size: 12.5px;
        font-weight: 700;
      }

      &-caption {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.main-dark {
  .dashboard {
    margin-top: 22px;

    &-card {
      width: 100%;
    }

    &-label {
      color: #C5C5C5;
      font-size: 17px;
      font-weight: 600;
    }

    &-value {
      color: #FFFFFF;
      font-size: 25px;
      font-weight: 600;
    }

    &-caption {
      font-size: 13px;
      font-weight: 500;
      color: #878787;
    }

    &-button-more {
      width: 160px;
      border: 1px solid #8BB7FF;
      border-radius: 22px;
      height: 44px;
      color: #8BB7FF;
      font-weight: bold;
      cursor: pointer;
    }

    &-table {
      .Futures-table-title {
        color: #C5C5C5;
        box-shadow: none;
      }

      .Futures-table-normal {
        box-shadow: none;
      }

      td {
        color: white;
      }

      th {
        span {
          border-bottom: 1px dashed #C5C5C5;
        }
      }

      td.button {
        button.endOrder {
          color: #C5C5C5;
          border: 1px solid #8BB7FF;

          svg {
            path {
              fill: #C5C5C5;
            }
          }
        }
      }
    }

    &-leftButton {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &.outline {
        background: transparent;
        border: none;
        color: #C5C5C5;
      }
    }

    &-rightButton {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &.outline {
        background: transparent;
        border: none;
        color: #C5C5C5;
      }
    }
  }

  @media (max-width: 768px) {
    .dashboard {
      margin-top: 22px;

      &-button-more {
        width: 160px;
        border: 1px solid #8BB7FF;
        border-radius: 22px;
        height: 34px;
        color: #8BB7FF;
        font-weight: bold;
      }

      &-card {
        width: 100%;
      }

      &-label {
        color: #C5C5C5;
        font-size: 12.5px;
        font-weight: 600;
      }

      &-value {
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 600;
      }

      &-caption {
        font-size: 13px;
        font-weight: 500;
        color: #878787;
      }

      &-leftButton {
        font-weight: 700;
        font-size: 14px;
        color: #BDD6FF;

        &.outline {
          border: none;
          font-weight: 500;
          background: transparent;
          color: #C5C5C5;
        }
      }

      &-rightButton {
        font-weight: 700;
        font-size: 14px;
        color: #BDD6FF;

        &.outline {
          border: none;
          font-weight: 500;
          background: transparent;
          color: #C5C5C5;
        }
      }

      &-orderCard {
        padding: 30px;
        position: relative;

        &-title {
          color: #C5C5C5;
          font-size: 12.5px;
          font-weight: 500;
        }

        &-value {
          color: #FFFFFF;
          font-size: 12.5px;
          font-weight: 700;
        }

        &-caption {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}

.shareMyDealModal {
  &-title1 {
    font-size: 17px;
    font-weight: 600;
    color: #2F759D;
  }

  &-value1 {
    font-size: 42px;
    font-weight: 600;
    color: #0047BB;
  }

  &-title2 {
    font-size: 13px;
    font-weight: 600;
    color: #2F759D;
  }

  &-value2 {
    font-size: 17px;
    font-weight: 600;
    color: #000000;
  }

  &-caption2 {
    height: 10px;
    font-size: 11px;
    font-weight: 500;
    color: #878787;
  }
}

.dark {
  //background: rgba(255, 255, 255, 0.15);
  //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  //border: 0;
  //backdrop-filter: blur(24px);
  //border-radius: 20px;

  .dashboard {
    &-label {
      color: #C5C5C5;
      font-size: 17px;
      font-weight: 600;
    }

    &-value {
      color: #FFFFFF;
      font-size: 25px;
      font-weight: 600;
    }

    &-caption {
      font-size: 13px;
      font-weight: 500;
      color: #878787;
    }
    &-button {
      width: 100%;
      background: linear-gradient(90deg, #8BB7FF 0%, #0061FF 100%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 22px;
    }
  }
}