@use "sass:math";
@import 'src/styles/shared.scss';

.FuturesMobile {
    &-tokenPairAndPrice {
        margin: 0 8px;
        padding: 0 15px;
        height: 34px;
        background: #F7F8FA;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 0px 10px 0px #EEEEEE;
        border-radius: 17px;

        svg {
            position: relative;
            width: 20px;
            height: 20px;
            z-index: 10;
        }

        svg.USDT {
            margin-left: -7px;
            margin-right: 10px;
            z-index: 1;
        }

        p {
            color: #0047BB;
            font-family: $boldFont;
            font-size: 12.5px;
        }
    }

    &-KPrice {
        margin: 8px 8px;
        height: 214px;
        background: #F7F8FA;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 0px 10px 0px #EEEEEE;
        border-radius: 14px;
        padding: 15px;

        .TVChart {
            &-topView {
                div {
                    a {
                        font-size: 10.42px;
                        font-family: Montserrat;
                    }
                }
            }

            &-button {
                margin-top: 5px;
                margin-bottom: 5px;

                button {
                    width: 40px;
                    height: 24px;
                    font-size: 12.5px;
                    line-height: 24px;

                    &.selected {
                        line-height: 20px;
                        border: 1px solid $main-button-color;

                        &:hover {
                            line-height: 20px;
                            border: 1px solid $main-button-color;
                        }
                    }

                    &:hover {
                        line-height: 22px;
                    }
                }
            }
        }
    }

    &-mainView {
        margin: 0 8px;
        background: #F7F8FA;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 0px 10px 0px #EEEEEE;
        border-radius: 14px;
        padding: 0 15px;

        .LongAndShort {
            margin-top: 25px;
        }

        &-leverTitle {
            width: 100%;
            padding: 0 15px;
            font-size: 12px;
            color: #7D7D7D;
            margin-top: 10px;
        }

        .LeverSlider {
            width: 100%;
            padding: 0 15px;
            &-button {
                button {
                    font-size: 12px;
                }
            }
        }

        .infoView {
            margin-top: 22.5px;
            width: 100%;

            &-top {
                p {
                    margin: 0 15px;
                }
            }

            &-topLeft,
            &-topRight {
                font-size: 12.5px;
            }

            &-mainView {
                margin-top: 11.5px;
                margin-bottom: 0px;
                padding: 0 15px;
                height: 34px;
                border-radius: 17px;

                .TokenShow {
                    &-text {
                        font-size: 12.5px;
                    }

                    svg {
                        width: 19.5px;
                        height: 19.5px;
                    }
                }

                .input-middle {
                    font-size: 12.5px;

                    &::placeholder {
                        font-size: 12.5px;
                    }
                }

                .max-button {
                    font-size: 12.5px;
                }
            }

            &-bottom {
                height: 0px;
            }
        }

        .mainButton {
            margin: 25px 0;
            width: 157px;
            height: 34px;
            border-radius: 17px;
            font-size: 12.5px;
            padding: 0;
        }
    }

    &-infoShow {
        width: 100%;
        font-size: 12.5px;
        color: #878787;
        padding: 0 15px;
        margin-top: 10px;

        p {
            font-family: $boldFont;
        }

        p.underLine {
            border-bottom: 1px dashed #7D7D7D;
        }

        p+p {
            font-family: Montserrat;
        }
    }

    &-showHid {
        margin-top: 22px;
        margin-bottom: 7px;
    }

    &-limitPrice {
        width: 100%;
        height: 34px;
        border-radius: 17px;
        background-color: #F7F8FA;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        box-shadow: $shadow-inside;
        padding: 0 15px;
        margin-top: 15px;

        &-title {
            font-size: 12.5px;
            color: black;
            font-family: $boldFont;
        }

        .rightInput {
            width: 31%;

            input {
                width: 100%;
                font-family: $boldFont;
                border: 0;
                text-align: right;
                margin-right: 5px;

                &::placeholder {
                    font-size: 12.5px;
                }
            }

            p {
                font-size: 12.5px;
                color: black;
                font-family: $boldFont;
            }
        }
    }

    &-stopLimit1,
    &-stopLimit2 {
        width: 100%;
        height: 34px;
        border-radius: 17px;
        background-color: #F7F8FA;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        box-shadow: $shadow-inside;
        padding: 0 15px;
        margin-top: 15px;

        &-title {
            font-size: 12.5px;
            color: black;
            font-family: $boldFont;
        }

        .rightInput {
            input {
                width: 100%;
                font-family: $boldFont;
                border: 0;
                text-align: right;
                margin-right: 5px;

                &::placeholder {
                    font-size: 12.5px;
                }
            }

            p {
                font-size: 12.5px;
                color: black;
                font-family: $boldFont;
            }
        }
    }

    &-listTab {
        margin: 20px 0;

        button {
            color: #878787;
            font-size: 12.5px;
            font-family: $boldFont;
            margin-left: 23px;

            &.selected {
                color: #0047BB;
            }
        }
    }

    ul.list {
        padding: 0 8px;

        p.emptyOrder {
            font-size: 12.5px;
            color: #7D7D7D;
            width: 100%;
            text-align: center;
        }

        li+li {
            margin-top: 5px;
        }
    }

    &-selectToken {

        .MuiPopover-paper {
            width: 100%;
            border-radius: 22px;
            margin-top: 6px;
            max-width: calc(100% - 16px);
            margin-left: 8px;
        }

        svg {
            position: relative;
            width: 20px;
            height: 20px;
            z-index: 10;
        }

        svg.USDT {
            margin-left: -7px;
            margin-right: 10px;
            z-index: 1;
        }

        ul {
            width: 100%;

            li {
                padding: 4px 15px;
                display: flex;
                font-size: 12.5px;

                p {
                    line-height: 20px;
                }

                &:hover {
                    background-color: #EEEEEE;
                }
            }

            li+li {
                margin-top: 5px;
            }
        }
    }
}

.main-dark {
    .FuturesMobile {
        &-tokenPairAndPrice {
            background: rgba(255, 255, 255, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(12px);
            border: 0;

            p {
                color: #BDD6FF;
            }

            button {
                p {
                    color: white;
                }
            }

            svg.putDown {
                circle {
                    stroke: #BDD6FF;
                }

                path {
                    fill: #BDD6FF;
                }
            }

            &:hover {
                border: 1px solid #8BB7FF;
            }
        }

        &-KPrice {
            background: rgba(255, 255, 255, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(12px);
            border: 0;

            .TVChart {
                &-button {
                    button {
                        &.selected {
                            line-height: 24px;

                            &:hover {
                                line-height: 24px;
                            }
                        }

                        &:hover {
                            line-height: 24px;
                        }
                    }
                }
            }
        }

        &-mainView {
            background: rgba(255, 255, 255, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(12px);
            border: 0;

            &-leverTitle {
                color: #C5C5C5;
            }
        }

        &-limitPrice,
        &-stopLimit1,
        &-stopLimit2 {
            background: rgba(255, 255, 255, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: 0;

            &:hover {
                border: 1px solid #8BB7FF;
            }

            p {
                color: white;
            }

            input {
                color: white;
            }
        }

        &-infoShow {
            color: #C5C5C5;

            p.underLine {
                border-bottom: 1px dashed #C5C5C5;
            }
        }

        &-listTab {
            button {
                color: #C5C5C5;

                &.selected {
                    color: #BDD6FF;
                }
            }
        }

        ul.list {
            p.emptyOrder {
                color: #C5C5C5;
            }
        }
    }
}