@use "sass:math";
@import 'src/styles/shared.scss';

.NFTAuctionStatus {
    display: flex;
    font-size: 17px;
    color: #878787;
    height: 100%;
    line-height: 60px;

    ul {
        display: flex;
        justify-content: space-between;
        width: 400px;
        margin-left: 40px;

        li {

            &:hover {
                cursor: pointer;
            }

            &.selected {
                color: #0047BB;
                font-weight: bold;
            }
        }
    }
}

.main-dark {
    .NFTAuctionStatus {
        color: #C5C5C5;

        ul {
            li.selected {
                color: #8BB7FF;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .NFTAuctionStatus {
        font-size: 12px;
        line-height: 20px;
        height: 20px;

        ul {
            width: 230px;
            margin-left: 10px;
        }
    }
}