@use "sass:math";
@import 'src/styles/shared.scss';

.TVChart {
    &-topView {
        div {
            a {
                font-size: 20px;
                font-family: $boldFont;
                color: #878787;
            }

            a+a {
                color: #FF0000;
                margin-left: 5px;
            }
        }
    }

    &-button {
        margin-top: 20px;
        margin-bottom: 20px;

        button {
            width: 66px;
            height: 44px;
            border-radius: 22px;
            box-shadow: $shadow-inside;
            line-height: 44px;
            font-size: 20px;
            text-align: center;
            color: black;

            &.selected {
                color: $main-button-color;
                border: 2px solid $main-button-color;
                font-family: $boldFont;
                line-height: 40px;

                &:hover {
                    border: 2px solid $main-button-color;
                    line-height: 40px;
                }
            }

            &:hover {
                border: 1px solid $gray-line-color;
                line-height: 42px;
                cursor: pointer;
            }
        }

        button+button {
            margin-left: 15px;
        }
    }

    &-mainView {
        .tv-lightweight-charts {
            background-color: #F7F8FA;

            table {
                tr {
                    background-color: #F7F8FA;
                }
            }
        }
    }
}

.main-dark {
    .TVChart {
        &-topView {
            div {
                a {
                    color: #C5C5C5;
                }

                a+a {
                    color: #FF0000;
                }
            }
        }

        &-button {
            button {
                color: $main-background-color;
                background: rgba(255, 255, 255, 0.15);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                &:hover {
                    border: 0px;
                    line-height: 44px;
                }

                &.selected {
                    background: linear-gradient(90deg, #8BB7FF 0%, #0061FF 100%);
                    color: $main-background-color;
                    border: 0px;
                    line-height: 44px;

                    &:hover {
                        line-height: 44px;
                        border: 0px;
                    }
                }
            }
        }

        &-mainView {
            .tv-lightweight-charts {
                background: rgba(0, 0, 0, 0);

                table {
                    tr {
                        background: rgba(0, 0, 0, 0);
                        backdrop-filter: blur(0px);
                    }
                }
            }
        }
    }
}