@use "sass:math";
@import 'src/styles/shared.scss';

.dashboardModal {

    & > .mainCard {
        padding: 0;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        height: 40px;
        position: absolute;
        right: 10px;
        top: 10px;

        &-rightButton {
            padding: 10px 10px;
        }

        button {
            width: 40px;
            height: 40px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.dashboardModal-dark {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    backdrop-filter: blur(24px);

    .dashboardModal {
        &-top {
            display: flex;
            justify-content: space-between;
            height: 40px;
            position: absolute;
            right: 10px;
            top: 10px;

            &-rightButton svg path {
                fill: #C5C5C5;
            }

            button {
                width: 40px;
                height: 40px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}